@import url('https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
}

body{
  font-family: 'Works Sans', sans-serif;
  margin: 1em;
}

#wrapper{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

p, h1, h2, h3, nav, article{
  margin-bottom: 1em;
}

.button{
  padding: 0.5em;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
}

/* header navigation */

header{
  display: flex;
  justify-content: space-between;
}

#dropmenu{
  display: none;
  position: absolute;
  right: 0;
  border: solid 1px lightgray;
  padding: 0.5em;
  background-color: #fff;
}

#dropmenu ul{
  list-style-type: none;
}

#dropmenu li{
  padding: 0.5em 1em;
}

#dropmenu input{
  border: solid 1px gray;
  padding: 5px;
}

/* search program navigation */

.search-program strong a{
  color: black;
}

.search-program a{
  text-decoration: none;
  color: darkgray;
  font-weight: 600;
  padding: 0.5em 0;
  display: block;
}

.search-program li{
  text-align: center;
  border: solid 1px gray;
  list-style-type: none;
}

.search-program li ul{
  background-color: lightgray;
  display: none;
}

.search-program li:hover ul{
  display: block;
}

.search-program img{
  width: 15px;
  transition-property: transform;
  transition-duration: 0.2s;
}

.search-program li:hover img{
  transform: rotate(180deg);
}


/* banner style */

.banner{
  background-color: #eee;
  padding: 4em 2em;
  margin-bottom: 2em;
}

/* main style */

main ul{
  list-style-type: none;
}

@media (min-width:769px){
  #dropmenu{
    display:flex;
    position: static;
    border: none;
  }

  #dropmenu li{
    display: inline;
  }

  .menu-icon{
    display: none;
  }

  .program-menu{
    display: flex;
    justify-content: space-between;
  }

  .program-menu li{
    width: 30%;
    position: relative;
  }

  .program-menu li ul{
    position: absolute;
    width: 100%;
  }

  .program-menu li ul li{
    width: 100%;
    background-color: #fff;
  }

  .program-menu li ul li:hover{
    background-color: lightblue;
  }

  /* main layout */

  main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
  }

  .news{
    grid-column-start: 1;
    grid-column-end: 4;
  }

} /* closing media query */
