@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter&family=Work+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
}

body{
  font-family: 'Works Sans', sans-serif;
  margin: 1em;
  background-color: lightgray;
}

#wrapper{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

h1 a{
  font-family: Fredoka One;
  color: #284d79;
  text-decoration: none;
}

h1 a:hover{
  color: red;
  text-decoration: underline;
}

p, h1, h2, h3, nav, article{
  margin-bottom: 1em;
}

h2{
  color: #414A47;
}

.banner h2{
  color: white;
}

h3{
  color: #284d79;
}

.button{
  padding: 0.5em;
  background-color: #284d79;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.button:hover{
  color: red;
}

/* header navigation */

header{
  display: flex;
  justify-content: space-between;
}

#dropmenu{
  display: none;
  position: absolute;
  right: 0;
  border: solid 1px black;
  padding: 0.5em;
  background-color: lightgray;
  text-decoration: none;
  /* right: 0; */
}

#dropmenu ul{
  list-style-type: none;
}

#dropmenu li{
  padding: 0.5em 1em;
}

#dropmenu input{
  border: solid 1px gray;
  padding: 5px;
}

#dropmenu a{
  color: #284d79;
  text-decoration: none;
}

#dropmenu a:hover{
  color: red;
  text-decoration: underline;
}

/* search program navigation */

.search-program strong a{
  color: #284d79;
}

.search-program strong a:hover{
  color: red;
}

.search-program a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 0.5em 0;
  display: block;
}

.search-program li{
  text-align: center;
  border: solid 1px gray;
  list-style-type: none;
}

.search-program li ul{
  display: none;
}

.search-program li:hover ul{
  display: block;
}

.search-program img{
  width: 15px;
  transition-property: transform;
  transition-duration: 0.2s;
}

.search-program li:hover img{
  transform: rotate(180deg);
}

.search-program li ul li:hover{
  background-color: #284d79;
}

.search-program li ul li{
  background-color: white;
}

/* banner style */

.banner{
  background-color: #eee;
  padding: 4em 2em;
  margin-bottom: 2em;
  border: solid 1px #eee;
  border-radius: 20px;
}

.news a{
  color: #284d79;
  text-decoration: none;
}

.news a:hover{
  color: red;
  text-decoration: underline;
}

.events a{
  color: #284d79;
  text-decoration: none;
}

.events a:hover{
  color: red;
  text-decoration: underline;
}

.events img{
  width: 100%
}

/* main style */

main ul{
  list-style-type: none;
}

/* Programs pages */

.card-link{
  color: #000;
  text-decoration: none;
  transition: all 0.5s;
  border: solid 1px gray;
  border-radius: 15px;
  margin-bottom: 1.5em;
}

.card-link:hover{
  transform: scale(1.05);
  box-shadow: 5px 10px #888;
}

.program-card{
  border-radius: 15px;
  overflow: hidden;
}

.card-body{
  padding: 0.5em 0.5em 0 0.5em;
}

.card-body h4{
  font-size: 15px;}

.card-body p{
  font-size: 14px;
  padding-top: 2em;
}

.program-card img{
  width: 100%;
}

@media (min-width:769px){

  #dropmenu{
    display: flex;
    position: static;
    border: none;
  }

  #dropmenu li{
    display: inline;
  }

  .menu-icon{
    display: none;
  }

  .program-menu{
    display: flex;
    justify-content: space-between;
  }

  .program-menu li{
    width: 30%;
    position: relative;
  }

  .program-menu li ul{
    position: absolute;
    width: 100%;
  }

  .program-menu li ul li{
    width: 100%;
    background-color: #fff;
  }

  .program-menu li ul li:hover{
    background-color: #284d79;
  }

  /* main layout */

  main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
  }

  .news{
    grid-column-start: 1;
    grid-column-end: 4;
  }

} /* closing media query */
