#wrapper{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header{
  padding: 1em 2em 2em 2em; /* <---- top, right, bottom, left */
  /* background-color: #010206;
  background-image: url("images/star_wars_andor_characters.PNG");
  background-repeat: no-repeat;
  background-position: right top; */
  background:
  linear-gradient(90deg, rgba(1,2,6,1) 0%,
  rgba(1,2,6,1) 57%, rgba(1,2,6,0) 78%),
  url("images/star_wars_andor_characters.png") no-repeat right top;
}
